body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #121212 !important;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}


.main {
    text-align: center;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 60px;
    padding-left: 100px;
    margin: 30px;
}

.button {
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
    background-color: #CCC;
    transition: 0.5s;
    border: none;
    color:  #121212;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    
}

.dropdown {
    position: relative;
    
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    
}

.dropdown-button {
    width: 150px;
    font-size: 16px;
    background-color: #CCC;
    transition: 0.5s;
    border: none;
    color:  #121212;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.20);
    font-size: 20px;
    font-weight: bold;
    
}

/* photo */
.photo {
    transition: 0.5s;
}

.photo:hover {
    transform: scale(1.1);
}

/* photo */

/* content */
.content {
    text-align: center;
    color: white;
    margin-right: 5%;
    border-radius: 0.6rem;
    padding: 10px;
    height: auto;
}

.content-font {
    text-align: center;
    position: relative;
    transition: 0.5s;
    border: none;
    float: inline-start;
    color: white;
    background-color: transparent;
    margin: 19px 3px;
    font-weight: 600;
    padding-left: 30px;
    font-size: 20px;
}

/* content */

ul {
    list-style-type: none;
    display: inline;
}

/* footer */
footer {
    margin-top: 40px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: "Lorem ipsum";
}

footer ul {
    list-style: none;
    padding: 0px;
    display: table;
    margin: 10px auto;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* footer */

a {
    color: white;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-color: transparent;
}


h3{
    width: 50%;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25%;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid #CCC;
    box-shadow: 2px 2px 6px #000;
    padding: 5px;
    background: #CCC;
    border-radius: 0.6rem;
}
h3:hover{
    transform: scale(1.20);
    font-size: 20px;
    font-weight: bold;
}
/* h3 */

.login-form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form input {
    outline: none;
    border: none;
    margin: 2px;
    width: 200px;
    height: 40px;
    background-color: rgba(83, 83, 83, 0.2);
    color: white !important;
}
main::after{
    content: "";
    clear: both;
    grid: table;
}
.container::after{
    content: "";
    clear: both;
    grid: table; 
}

@media only screen and (max-width:1200px) {
    .col-md-12{
        width: 100%;

    }
    .col-sm-2{
        width:100%;
        position: relative;
    }
    .col-sm-10{
        width: 100%;
    }
    .button{
        width:100%;
    }.onClickButton{
        width:100%;
    }
    main img{
        width: 100%;
    }
    .content{
        margin: 0px!important;
    }
}
